@media (max-width:1020px) {

    .nav-bar{
        display: none;
    }

    .nav-bar.active {
        display: block;
    }

    .burger {
        display: block;
    }

    .div-nav, .nav-ul {
        flex-direction: column;
    }
    
    .nav-ul {
        align-items: flex-end;
        margin-right: 10px;
    }

    .nav-li {
        margin-top: 5px;
    }


    .sec1-div2 {
        width: 200px;
        height: 90px;
    }

    .sec1-p2 {
        font-size: 15px;
    }

    .div-youtube, .div-coco{
        margin-bottom: 10px;
        width: 500px;
    }

    .ytd {
        flex-wrap: wrap;
        margin-right:11px;
        margin-left: 11px;
    }

    .title-div {
        padding-top: 0;
    }

    .newstitle {
        padding-top: 30px;
    }


}

@media (max-width:880px) {

    .sec1-div2 {
        width: 300px;
        height: 128px;
    }

    .sec1-p2 {
        font-size: 18px;
    }

    .sec1-divs {
        display: flex;
        flex-wrap: wrap;
    }

    .s1, .s2 {
        margin-bottom: 10px;
    }

    .news-div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .big-news, .small-news {
        width: 90%;
    }

    .b3, .b5, .b6 {
        display: none;
    }

}

@media (max-width:830px) {
    .welcome-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin: 0;
        margin-bottom: 15px;
    }

    
    .div-weather {
        margin-right: 0;
    }

    .h3::after, .h3::before {
        width: 150px;
    }

}

@media (max-width:652px) {
    .sec1-div2 {
        margin-right: 10px;
        margin-left: 10px
    }

    .s3 {
        margin-bottom: 10px;
    }

    .movies {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .h-news {
        font-size: 25px;
    }

    .p-news {
        font-size: 15px;
    }

    .sec1-p {
        font-size: 90px;        
    }

    .Sec1-span {
        font-size: 45px;
    }

    .b7 {
        display: none;
    }

    .h3::after, .h3::before {
        width: 100px;
    }

}

@media (max-width:590px) {
    .smallnewsph {
        display: none;
    }
}



@media (max-width:540px) {
    .ytd {
        display: none;
    }

    .stcoco {
        display: flex;
    }

    
    .sec1-p {
        font-size: 65px;     
        left: 15px;   
    }

    .Sec1-span {
        font-size: 35px;
    }

    .div-restaurants {
        flex-direction: column;
    }

    .b8 {
        display: none;
    }

}


@media (max-width:505px) {
    .h3::after {
        width: 100%;
        margin: 5px 0 0 0;
    } 
    
    .h3::before {
        display: none;
        
    }

    .h3 {
        display: block;
    }
} 

@media (max-width:400px) {
    h2 {
        font-size: 25px;
    }

    .div-weather {
        height: 35px;
    }

    .cloudph {
        display: none;
    }

    #search {
        width: 100px;
    }

    .b2 {
        display: none;
    }

}

