/* Header Styling */

header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    /* position: fixed;
    width: 100%;
    z-index: 10; */
}

.nav-ul {
    display:flex;
}

.nav-li {
    margin-left: 50px;
}

.nav-a {
    color: #484848;
    font-size: 22px;
    font-family: 'Arvo', serif;
}


/* background for body */
/* body {
    background-image: url('../images/background.jpg');
    background-size: contain;
    height: 2000px;
} */



/* Sectio 1 */

.welcome-div {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}

h2, .sec1-spanh {
    font-family:  'Arvo', serif;
    font-weight: 900;
    color: #484848;
    font-size: 44px;
    margin-left: 30px;
}

#Search {
    height: 45px;
    border-radius: 20px;
    margin-left: 30px;
    border-width: 5px;
}


.div-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.sec1-div{
    display: flex;
    justify-content: space-around;
    height: 780px;
    margin: 30px;
    position: relative;
}

.sec1-p{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90px;
    top: 140px;
    font-family:  'Arvo', serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 165px;
}

.Sec1-span {
    font-size: 84px;
}

.Sec1-span::after {
    content: '';
    height: 5px;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    margin-top: 10px;

}

.sec1-divs {
    display: flex;
    justify-content: space-around;

}

.sec1-div2 {
    height: 150px;
    width: 400px;
    display: flex;
    align-items: center;
    box-shadow: 5px 10px 8px #DEDEDE;
    border: 3px solid #C69A63;
}

.sec1-p2 {
    color: #484848;
    font-size: 22px;
    font-family: 'Arvo', serif;
    font-weight: bolder;
    margin: 0 auto;
}

.sec1-p2::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #C69A63;
    display: flex;
    margin-top: 10px;

}

.sec1-img2 {
    height: 100%;
}

/* section 2 cinema */

.sec2 {
    margin: 30px;
}

.title-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3{
    font-family:  'Arvo', serif;
    font-weight: 900;
    color: #484848;
    font-size: 44px;
    display: flex;
}

.h3::after, .h3::before {

    content: '';
    height: 3px;
    width: 500px;
    background-color: #C69A63;
    display: flex;
    margin: 20px;

}


