/* Header Styling */

header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    /* position: fixed;
    width: 100%;
    z-index: 10; */
}

.nav-ul {
    display:flex;
}

.nav-li {
    margin-left: 50px;
}

.nav-a {
    color: #484848;
    font-size: 22px;
    font-family: 'Arvo', serif;
}


/* background for body */
/* body {
    background-image: url('../images/background.jpg');
    background-size: contain;
    height: 2000px;
} */



/* Section 1 */

.welcome-div {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}

h2, .sec1-spanh {
    font-family:  'Arvo', serif;
    font-weight: 900;
    color: #484848;
    font-size: 44px;
    margin-left: 30px;
}

#Search {
    height: 45px;
    border-radius: 20px;
    margin-left: 30px;
    border-width: 5px;
}



.div-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}

.sec1-div{
    background-image: url('../images/cafe.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: auto;
    margin: 30px 10px;
    position: relative;
}

.sec1-p{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90px;
    top: 140px;
    font-family:  'Arvo', serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 165px;
}

.Sec1-span {
    font-size: 84px;
}

.Sec1-span::after {
    content: '';
    height: 5px;
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    margin-top: 10px;

}

.sec1-divs {
    display: flex;
    justify-content: space-around;

}

.sec1-div2 {
    height: 150px;
    width: 400px;
    display: flex;
    align-items: center;
    box-shadow: 5px 10px 8px #DEDEDE;
    border: 3px solid #C69A63;
}

.sec1-p2 {
    color: #484848;
    font-size: 22px;
    font-family: 'Arvo', serif;
    font-weight: bolder;
    margin: 0 auto;
}

.sec1-p2::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #C69A63;
    display: flex;
    margin-top: 10px;

}

.sec1-img2 {
    height: 100%;
}

/* section 2 cinema */

.sec2 {
    margin: 30px 0;
    
}

.title-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.h3{
    font-family:  'Arvo', serif;
    font-weight: 900;
    color: #484848;
    font-size: 44px;
    display: flex;
}

.h3::after, .h3::before {

    content: '';
    height: 3px;
    width: 500px;
    background-color: #C69A63;
    display: flex;
    margin: 20px;

}

.div-youtube {
    height: 450px;
    width: 800px;
    position: relative;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.youtube {
    position: absolute;
    border-radius: 20px;
}
.cover {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;

}


.cover:hover{
    display: none;   
}


.div-coco{
    display: inline-block;
    height: 450px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #DEDEDE;
}

.coco-description {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;    
}

.h-coco{
    color: #000000;
    font-size: 100px;
    font-weight: bold;
    font-family:   'Arvo', serif;
}

.h-coco::after {
    content: '';
    height: 3px;
    width: 80%;
    background-color: #C69A63;
    display: flex;
    margin: 10px 0;

}


.coco-text {
    width: 300px;
    font-size: 20px;
    color: #484848;
    font-family:   'Arvo', serif;
    
}

.coco {
    height: 100%;
    border-radius: 20px 0 0 20px;
    display: inline-block;
    vertical-align: middle;
}

.buy-ticket {
    margin-top: 20px;
    height: 70px;
    width: 210px;
    background-color: #FFC80A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buy {
    color: #FFFBF1;
    font-size: 22px;
    font-weight: bold;
    font-family:   'Arvo', serif;

}

.ytd {
    display: flex;
    justify-content: space-around;
}

/* movies list */

.movies {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.movie {
    height: 590px;
    max-width: 475px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px 8px #DEDEDE;
}

.movie-bckg1 {
    background-image: url('../images/snowman.png');
    height: 380px;
    width: 100%;
    background-size: cover;
    background-position-x: center
}


.movie-bckg2 {
    background-image: url('../images/theforeigner.png');
    height: 380px;
    width: 100%;
    background-size: cover;
    background-position-x: center
}


.movie-bckg3 {
    background-image: url('../images/starwars.png');
    height: 380px;
    width: 100%;
    background-size: cover;
    background-position-x: center
}

.h-movie{
    color: #000000;
    font-size: 34px;
    font-weight: bold;
    font-family:   'Arvo', serif;
    margin-top: 10px;
}

.h-movie::after {
    content: '';
    height: 1.5px;
    width: 100%;
    background-color: #C69A63;
    display: flex;
    margin: 10px 0;

}


.movie-text {
    width: 400px;
    font-size: 20px;
    color: #484848;
    font-family:   'Arvo', serif;
    text-indent: 20px;
    
}

.buy-ticket2 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 210px;
    background-color: #FFC80A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-arrow-circle-right {
    color: #FFC80A;
    font-size: 60px;
}

.buy-ticket:hover, .buy-ticket2:hover {
    
    background-color:  #FFFFFF;
    border: 3px solid #FFC80A;

}

.buy-ticket:hover .buy, .buy-ticket2:hover .buy  {
    color: #FFC80A;
} 




/* Shopping */

.div-shopping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.shop {
    height: 185px;
    width: 22%;
    box-shadow: 5px 10px 8px #DEDEDE;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;

}

.department {
    color: #000000;
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family:   'Arvo', serif;
    
}

.department::after{
    color: #484848;
    font-size: 20px;
    font-family:   'Arvo', serif;
    display: block;

}

.dep1::after {
    content: '12 brands';
}


.dep2::after {
    content: '7 brands';
}


.dep3::after {
    content: '10 brands';
}


.dep4::after {
    content: '13 brands';
}


.dep5::after {
    content: '9 brands';
}


.dep6::after {
    content: '10 brands';
}


.dep7::after {
    content: '2 brands';
}


.dep8::after {
    content: '5 brands';
}

.shop-img {
    height: 70%;
}

.brands {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Restaurants */

.div-restaurants {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.restaurant {
    width: 400px;
    height: 375px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 5px 10px 8px #DEDEDE;
}

.h-restaurant {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    font-family:   'Arvo', serif;

}

.h-restaurant::before {
    content: '';
    height: 1.5px;
    width: 25%;
    background-color: #FFC80A;
    display: flex;
    margin: 10px 0;
}

.rest-tel, .rest-hours {
    color: #484848;
    font-size: 22px;
    font-family:   'Arvo', serif;

}

.restaurant-logo {
    height: 30%;
}

.restimg {
    height: 80px;
}


/* News */

.news-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.small-news {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.news {
    width: 47%;
    display: flex;
    flex-direction: column;

}

.big-news {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.news-ph {
    width: 100%;
}

.h-bignews {
    color: #C69A63;
    font-size: 72px;
    font-weight: bold;
    font-family:   'Arvo', serif;
    margin: 36px auto 30px 30px;
}

.h-news {
    color: #C69A63;
    font-size: 35px;
    font-weight: bold;
    font-family:   'Arvo', serif;
    margin: 36px auto 30px 30px;
}

.p-news {
    color: #484848;
    font-size: 20px;
    font-family:   'Arvo', serif;
    margin-bottom: 35px;
    text-indent: 5%;
}

.p-news::first-letter {
    color: #C69A63;
    font-size: 30px;
    font-weight: 900;
    font-family:   'Arvo', serif;
}


/* footer */

footer {
    background-color: aliceblue;
}

.div-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    max-width: 500px;
    width: auto;
    padding: 20px;
}

.p-subscribe {
    font-family:  'Arvo', serif;
    font-weight: 900;
    color: #484848;
    font-size: 24px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]
  
  input[type=submit]:hover {
    background-color: #45a049;
  }